// include app-specific scss variables
@import 'appvar';

.no-response {
  background-color: $no-color;
}

.right-response {
  background-color: $right-color;
}

.wrong-response {
  background-color: $wrong-color;
}

.missed-response {
  background-color: $missed-color;
}

.selected-match {
  background-color: $selected-color;
}

.answer {
  background-color: $answer-color;
}

.disabled {
  background-color: $disabled;
}

.major-text {
  font-size: 120%;
}

.minor-text {
  font-size: 90%;
}

.fine-print {
  font-size: 80%;
}

.warning {
  color: $warning-color;
}

.deck-table {
  margin: auto auto 1em;
  width: 90%;
}

.em {
  // needed, since <em> and <i> are not recognized
  font-style: italic;
}

td {
  padding-left: 10px;
  padding-right: 5px;
}

tr td:nth-child(odd) {
  font-weight: bold;
}

.v-space {
  margin-bottom: 1em;
}

.deck-header .deck-options .deck-filter {
  margin-bottom: 1em; // REVIEW does not work, .v-space hack
}

.card-loading {
  margin: 0 auto;
  vertical-align: middle;
}

.range-slider {
  width: 95%; // hack for slider load bug
}

// adapted from http://codepen.io/ionic/pen/uJkCz
.list .item.item-accordion {
  line-height: 38px;
  padding-bottom: 0;
  padding-top: 0;
  transition: 0.09s all linear;

  &.ng-hide {
    line-height: 0;
  }
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block; // not !important
}
