// app-specific scss variables

$warning-color: #f00; // red

$wrong-color: #f00; // red

$right-color: #0f0; // green

$missed-color: #ff0; // yellow

$no-color: #fff; // white

$answer-color: #afa; // light green

$selected-color: #bbb; // light grey
