# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# created by 'npm install'
node_modules/

# created by 'ionic state restore'
platforms/
plugins/

# created by 'bower install'
# www/lib/ # but leave in git for view_setup.sh

# created by 'gulp scss'
# www/css/ # but leave in git for view_setup.sh

# created from ./index-source.html by 'gulp index'
www/index.html

# created by 'ionic upload'
www.zip

# created by 'gulp marked'
www/data/md/

# created by 'gulp dgeni'
docs/build/

# created by 'gulp flavor'
www/data/flavor
resources/android/
resources/ios/

# compiled python
*.pyc

# proprietary content of Datta Deepam flavor
**/datta-deepam/
