"*":
  editor:
    showInvisibles: true
    showIndentGuide: true
    softWrap: true
    preferredLineLength: 90
    softWrapAtPreferredLineLength: true
    invisibles: {}
    fontSize: 10
  core:
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      "node_modules"
      "platforms"
      "plugins"
      "css"
      "lib"
      "*.pyc"
      "*~"
    ]
    disabledPackages: [
      "language-make"
      "language-less"
      "language-mustache"
      "language-perl"
      "language-php"
      "language-ruby-on-rails"
      "metrics"
      "language-todo"
      "timecop"
      "deprecation-cop"
    ]
  "exception-reporting":
    userId: "95b677a0-dd5e-13f8-96b1-35a26a66a99a"
  welcome:
    showOnStartup: false
  emmet: {}
  "atom-lint":
    ignoredNames: [
      "tmp/**"
    ]
    showViolationMetadata: true
  "markdown-preview": {}
  "todo-show":
    findTheseRegexes: [
      "FIXMEs"
      "/\\bFIXME:?\\d*($|\\s.*$)/g"
      "TODOs"
      "/\\bTODO:?\\d*($|\\s.*$)/g"
      "CHANGEDs"
      "/\\bCHANGED:?\\d*($|\\s.*$)/g"
      "XXXs"
      "/\\bXXX:?\\d*($|\\s.*$)/g"
      "IDEAs"
      "/\\bIDEA:?\\d*($|\\s.*$)/g"
      "HACKs"
      "/\\bHACK:?\\d*($|\\s.*$)/g"
      "NOTEs"
      "/\\bNOTE:?\\d*($|\\s.*$)/g"
      "REVIEWs"
      "/\\bREVIEW:?\\d*($|\\s.*$)/g"
      "PUBLISHs"
      "/\\bPUBLISH:?\\d*($|\\s.*$)/g"
      "ANDROIDs"
      "/\\bANDROID:?\\d*($|\\s.*$)/g"
      "FUTUREs"
      "/\\bFUTURE:?\\d*($|\\s.*$)/g"
    ]
    ignoreThesePaths: [
      "node_modules/"
      "platforms/"
      "www/lib/"
      "plugins/"
      ".git/"
    ]
    rememberViewSize: true
  "linter-pylint":
    executable: "/usr/local/bin/pylint"
    rcFile: "~/.pylintrc"
  "linter-xmllint":
    xmllintExecutablePath: "/opt/local/bin/xmllint"
  "linter-scss-lint":
    executablePath: "/Users/home/.rvm/gems/ruby-2.2.3/wrappers/scss-lint"
  "atom-beautify":
    _analyticsUserId: "95d97e54-3d85-46dc-8270-12afbbaa5e62"
  linter: {}
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  "file-types":
    jshintrc: "source.json"
    xmlhintrc: "source.json"
    htmlhintrc: "source.json"
    jsbeautifyrc: "source.json"
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  "highlight-line": {}
  minimap: {}
  "spell-check": {}
  "tree-view":
    hideIgnoredNames: true
  jshint:
    validateOnlyOnSave: true
  "linter-jscs":
    onlyConfig: true
  docblockr:
    deep_indent: true
    indentation_spaces_same_para: 3
  term2: {}
  autoprefixer: {}
  "linter-htmlhint":
    executablePath: "/Users/home/.nvm/versions/node/v0.12.7/bin/htmlhint"
  "color-picker": {}
