<ion-view>
    <ion-content padding="true" class="has-header">
        <div>
            <ion-slide-box>
                <ion-slide>
                    <p>
                        Some intro to using this app...
                    </p>
                    <p>
                        Swipe left to view next slide.
                    </p>
                </ion-slide>
                <ion-slide>
                    <p>
                        These slides may be reviewed at any time with the <strong>View Introduction</strong> button of the <strong>Settings</strong> tab.
                    </p>
                    <button class="button button-stable button-block" ng-click="gotIt()">
                        Got it!
                    </button>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>
