<x>uses hideTabs directive: http://codepen.io/toddhalfpenny/pen/bNyLYB?editors=1010</x>
<ion-view cache-view="false" id="store-visit-wrapper" hide-tabs>
  <ion-content padding="true" class="has-header">
    <div>
      <ion-slide-box>
        <ion-slide>
          <div ng-include="'data/md/intro1.html'"></div>
        </ion-slide>
        <ion-slide>
          <div ng-include="'data/md/library.html'"></div>
          <div ng-include="'data/md/deck.html'"></div>
        </ion-slide>
        <ion-slide>
          <div ng-include="'data/md/card.html'"></div>
          <div ng-include="'data/md/settings.html'"></div>
        </ion-slide>
        <ion-slide>
          <div ng-include="'data/md/intro-end.html'"></div>
          <button class="button button-stable button-block" ng-click="gotIt()">
            Got it!
          </button>
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-content>
</ion-view>
