<!DOCTYPE html>
<ion-view>
  <ion-content padding="true" class="has-header">
    <div ng-hide="Deck.isDefined">
      Please select a deck in the library.
    </div>
    <div ng-show="Deck.isDefined">
      <h2 align="center">{{ Deck.data.name.display }}</h2>
      <div class="deck-table" align="center">
        <table>
          <tr>
            <td>Right</td>
            <td>{{ Deck.count.right }}</td>
            <td>Wrong</td>
            <td>{{ Deck.count.wrong }}</td>
            <td>Skipped</td>
            <td>{{ Deck.count.skipped }}</td>
          </tr>
          <tr>
            <td>Removed</td>
            <td>{{ Deck.count.removed }}</td>
            <td>Hints</td>
            <td>{{ Deck.count.hints }}</td>
            <td>Remaining</td>
            <td>{{ Deck.count.remaining }}</td>
          </tr>
        </table>
      </div>
      <div class="deck-header">
        <ion-list>
          <ion-item class="item-stable" ng-click="toggleGroup('header')" ng-class="{active: Deck.data.isGroupShown['header']}">
            <i class="icon" ng-class="Deck.data.isGroupShown['header'] ? 'ion-minus' : 'ion-plus'"></i>            Header information
          </ion-item>
          <ion-item class="item-accordion" ng-repeat="key in Deck.headerDisplayKeys" ng-show="Deck.data.isGroupShown['header']">
            <b>{{ key }}:</b> {{ Deck.header[key] }}
          </ion-item>
        </ion-list>
      </div>
      <div class="v-space"></div>
      <div class="deck-options">
        <ion-list>
          <ion-toggle toggle-class="toggle-positive" ng-model="Deck.data.reverseQandA">
            Reverse Q &amp; A
          </ion-toggle>
          <ion-toggle ng-show="Deck.data.range || Deck.data.tags.length > 0" toggle-class="toggle-positive"
            ng-model="Deck.data.showTags">
            Show tags in card
          </ion-toggle>
          <ion-item ng-click="Deck.restart(false)">
            Restart
          </ion-item>
          <ion-item ng-show="Deck.count['removed']" ng-click="Deck.restart(true)">
            Restore removed cards and restart
          </ion-item>
        </ion-list>
      </div>
      <div class="v-space"></div>
      <div class="deck-filter" ng-show="Deck.data.tags.length > 0 || Deck.data.range">
        <ion-item class="item-stable" ng-click="toggleGroup('filter')" ng-class="{active: Deck.data.isGroupShown['filter']}">
          <i class="icon" ng-class="Deck.data.isGroupShown['filter'] ? 'ion-minus' : 'ion-plus'"></i>          Filter cards
        </ion-item>
        <div ng-show="Deck.data.isGroupShown['filter']">
          <ion-list ng-show="Deck.data.activeCardIndex !== undefined">
            <!-- see https://github.com/angular-slider/angularjs-slider -->
            <ion-item>
              <rzslider ng-show="Deck.data.range" rz-slider-model="Deck.data.range.min" rz-slider-high="Deck.data.range.max"
                rz-slider-options="Deck.data.range.options">
              </rzslider>
            </ion-item>
            <!-- http://ionicframework.com/docs/components/#cards for tag lists -->
            <ion-item ng-show="Deck.data.tags.length > 0" ng-repeat="filterKey in Deck.filterTagsKeys"
              class="item item-button-right">
              {{ Deck.tagFilterText[filterKey] }}
              <button class="button button-positive" ui-sref="tabs.tags({filterKey: filterKey})">
                <i class="icon ion-edit"></i>
              </button>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div class="v-space"></div>
      <div class="deck-sanskrit" ng-show="Deck.header['.sanskrit']">
        <ion-item class="item-stable" ng-click="toggleGroup('sanskrit')" ng-class="{active: Deck.data.isGroupShown['sanskrit']}">
          <i class="icon" ng-class="Deck.data.isGroupShown['sanskrit'] ? 'ion-minus' : 'ion-plus'"></i>          Sanskrit text
        </ion-item>
        <div ng-show="Deck.data.isGroupShown['sanskrit']">
          <ion-list>
            <ion-radio ng-model="Deck.data.devanagari" ng-value="false">Transliteration</ion-radio>
            <ion-radio ng-model="Deck.data.devanagari" ng-value="'only'">Devanagari</ion-radio>
            <ion-radio ng-model="Deck.data.devanagari" ng-value="'both'">Both</ion-radio>
          </ion-list>
        </div>
      </div>
  </ion-content>
</ion-view>
