<!DOCTYPE html>
<ion-view>
  <ion-content padding="true" class="has-header">
    <div ng-hide="Deck.data">
      Please select a deck in the library.
    </div>
    <div ng-show="Deck.data">
      <h2 align="center">{{ Deck.data.name.display }}</h2>
      <div class="deck-table" align="center">
        <x>REVIEW scss better for alignment</x>
        <table>
          <tr>
            <td>Right</td>
            <td>{{ Deck.count.right }}</td>
            <td>Wrong</td>
            <td>{{ Deck.count.wrong }}</td>
            <td>Skipped</td>
            <td>{{ Deck.count.skipped }}</td>
          </tr>
          <tr>
            <td>Removed</td>
            <td>{{ Deck.count.removed }}</td>
            <td>Hints</td>
            <td>{{ Deck.count.hints }}</td>
            <td>Remaining</td>
            <td>{{ Deck.count.remaining }}</td>
          </tr>
        </table>
      </div>
      <ion-list>
        <ion-toggle toggle-class="toggle-positive" ng-model="Deck.data.reverseQandA">
          Reverse Q &amp; A
        </ion-toggle>
        <ion-toggle ng-show="Deck.data.range || Deck.data.tags.length > 0" toggle-class="toggle-positive" ng-model="Deck.data.showTags">
          Show tags in card
        </ion-toggle>
      </ion-list>
      <ion-list ng-show="Deck.data.activeCardIndex !== undefined">
        <ion-item ng-click="Deck.restart(false)">
          Restart
        </ion-item>
        <ion-item ng-show="Deck.count['removed']" ng-click="Deck.restart(true)">
          Restore removed cards and restart
        </ion-item>
        <!-- see https://github.com/angular-slider/angularjs-slider -->

        <ion-item>
          <rzslider ng-show="Deck.data.range" rz-slider-model="Deck.data.range.min" rz-slider-high="Deck.data.range.max"
              rz-slider-options="Deck.data.range.options">
          </rzslider>
        </ion-item>
        <!-- http://ionicframework.com/docs/components/#cards for tag lists -->
        <ion-item ng-show="Deck.data.tags.length > 0" ng-repeat="filterKey in Deck.filterTagsKeys"
            class="item item-button-right">
          {{ Deck.tagFilterText[filterKey] }}
          <button class="button button-positive" ui-sref="tabs.tags({filterKey: filterKey})">
            <i class="icon ion-edit"></i>
          </button>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
