<ion-view>
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Answer text</div>
            <div class="item item-body"></div>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block">Right</button>
            <button class="button button-stable button-block">Wrong</button>
            <button class="button button-stable button-block">Close</button>
            <button class="button button-stable button-block">Skip</button>
        </div>
    </ion-content>
</ion-view>
